*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 3px;
} 
::-webkit-scrollbar-thumb {
    background-color: rgb(75, 78, 72);
    overflow: hidden;
    
}  

.wrapper-app{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


.app{
}

.wrapper-app-screen{
    position: relative;
    height: 500px;
    width: 400px;
    border: 1px solid black;
    overflow-y: auto;
}

.app-screen{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 100%;
    padding: 5px 0 5px 0;        
}

.bubble{
    width: fit-content;
    max-width: 75%;
    margin: 5px;
    background-color: rgb(165, 87, 238);
    border-radius: 10px;
    padding: 4px 8px;
}
.bubble-guess{
    margin-right: auto;
    background-color: rgb(165, 87, 238);
}
.bubble-answer{
    margin-left: auto;
    background-color: rgb(119, 118, 118);
}




.app-menu{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.app-menu__input{
    text-align: center;
    border: 2px solid rgb(122, 122, 122);
    outline: 0;
    outline-offset: 0;
}
.app-menu__input:hover{
    border: 2px solid black;

}
.app-menu__btn{
    border: none;
    background-color: rgb(165, 87, 238);
    border: 2px solid  rgb(165, 87, 238);
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}
.app-menu__btn:hover{
    border: 2px solid  black;

}

